
<div class="site viewport-height">
    <div class="d-flex full-height justify-content-center align-items-center">
        <div class="login-form text-center">
            <h3>Login</h3>
            <div class="input-wrap flex-column d-flex">
                <form>
                    <input class="mb-1" type="text" placeholder="Ingrese su ID" id="ID">
                    <input class="mb-1" type="text" placeholder="Password" id="Pass">
                    <button type="submit" class="btn btn-primary mb-2" id="Login">Login</button>
                </form>
                <a href="#">Volver a Inicio <i class="bi bi-house"></i></a>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Login.js"></script>