USE [master]
GO
/****** Object:  Database [supercash]    Script Date: 3/19/2021 2:53:53 PM ******/
CREATE DATABASE [supercash]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'supercash', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\supercash.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'supercash_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\supercash_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [supercash].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [supercash]
GO
/****** Object:  User [mperez]    Script Date: 3/19/2021 2:53:54 PM ******/
CREATE USER [mperez] FOR LOGIN [mperez] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [mperez]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [mperez]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [mperez]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [mperez]
GO
ALTER ROLE [db_datareader] ADD MEMBER [mperez]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [mperez]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/19/2021 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[niveles_directo]    Script Date: 3/19/2021 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[niveles_directo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nivel] [int] NULL,
	[ganancia] [int] NULL,
	[costo] [int] NULL,
 CONSTRAINT [PK_niveles_directo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[niveles_equipos]    Script Date: 3/19/2021 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[niveles_equipos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nivel] [int] NULL,
	[ganancia] [int] NULL,
	[costo] [int] NULL,
 CONSTRAINT [PK_niveles_equipos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 3/19/2021 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_padre] [int] NULL,
	[monto_trx] [float] NULL,
	[tipo_pago] [varchar](95) NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_pagos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacciones]    Script Date: 3/19/2021 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[monto] [nvarchar](max) NULL,
	[monto_trx] [float] NULL,
	[id_transaccion] [nvarchar](max) NULL,
	[fecha] [datetime] NULL,
	[estado] [varchar](95) NULL,
 CONSTRAINT [PK_transacciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 3/19/2021 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_padre] [int] NULL,
	[email] [varchar](145) NULL,
	[clave] [varchar](145) NULL,
	[wallet] [varchar](50) NULL,
	[ganancia_directa] [float] NULL,
	[ganancia_equipo] [float] NULL,
	[balance] [float] NULL,
	[rango] [varchar](95) NULL,
	[nivel_directo] [int] NULL,
	[nivel_equipo] [int] NULL,
	[primera_compra] [int] NULL,
	[fecha_registro] [date] NULL,
	[acceso] [int] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
